//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  .container{
    padding: 0;
    .navbar{
      .navbar-brand{
        width: 250px;

        margin: 6px 0 0 100px;
      }

      .switcheroo{
        margin: 0 0 0 19%;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .nav-item{
          margin: 30px 29px 0 0;
        }

        ul{
          a{
            font-size: 14px;
            color: $mid-grey; 
          }
        }

        .navbar-buttons-inside{
          display: none;
        }

        .logos-footer{
          display: none;
        }

        .navbar-buttons-outside{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
    
          .btn-number{
            padding: 13px 19px;
            margin: 22px 3px 0 20px;
    
            font-size: 15px;
            color: $white;
    
            background-color: $orange;
            border: none;
            border-radius: 37px;

            img{
              padding-right: 8px;
            }
          }  
    
          .btn-language{
            padding: 13px 20px;
            margin: 22px 10px 0 0;
    
            font-size: 15px;
            color: $white;
    
            background-color: $dark-blue;
            border: none;
            border-radius: 37px;
    
            img{
              padding-left: 8px;
            }
          }          
        }   
      }
    }
  }
}

@media (min-width: 1921px) and (max-width: 2000px){
  header {
    .container{
      padding: 0;
      .navbar{
        .navbar-brand{
          margin: 2px 0 0 -2.2%;
        }
        .nav-item{
          padding: 0;
        }

        .navbar-buttons{  
          .btn-number{
            margin: 22px -42px 0 5%;
            img{
              padding-right: 8px;
            }
          }  
    
          .btn-language{
            margin: 24px 0 0 70%;
          }          
        }
      }
    }
  }
}

@include respond-to(lg) {
  header {
    .container{
      .navbar{
        .navbar-brand{
          margin: 6px 0 0 50px;
          width: 200px;
          img{
            width: 200px;

            margin: none;
          }
        }

        .switcheroo{
          margin: 0 0 0 2%;
          width: 79%;

          .nav-item{
            margin: 35px 0 0 0;
          }
          
          .navbar-buttons-outside{
            .btn-number{
              margin: 15px 3px 0 15px;
              padding: 10px 19px;
            }
    
            .btn-language{
              margin: 19px 12px 0 0;
              padding: 10px 18px;
            }        
          }

          .navbar-buttons-inside{
            display:none;
          }
        }
      }
    }
  }
}

@media (min-width: 1091px) and (max-width: 1116px) {
  header {
    .container{
      .navbar{
        .navbar-brand{
          margin: 6px 0 0 30px;
        }
        .switcheroo{
          margin: 0 0 0 0;  
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1090px) {
  header {
    .container{
      .navbar{
        .navbar-brand{
          margin: 6px 0 0 5px;
        }

        .switcheroo{
          margin: 0 0 0 0;  
          ul{
            a{
              font-size: 13px;
            }
          }

          .btn-number{
            margin: 26px 5px 0 5px !important;
          }
          .btn-language{
            margin: 26px 5px 0 0 !important;
          }          
        }   
      }
    }
  }
}

@include respond-to(md) {
  header {
    .container{
      .navbar{
        margin-right: 8%;
        .navbar-brand{
          margin: 6px 0 0 8%;
          width: 200px;
        }
  
        .switcheroo{
          margin: 0;

          flex-direction: row-reverse;
          .nav-item{
            margin: 35px 0 0 0;
          }

          .navbar-buttons-outside{
            .btn-number{
              margin: 0 20px 0 20px;
              font-size: 13px;
            }
      
            .btn-language{
              margin: 0 20px 0 0;
              font-size: 13px;
            }
          }
        }

        .collapse {
          position: fixed;
          top: 84px;
          right: -100%;
          z-index: 2000;
  
          display: block;
          height: 100% !important;
          width: 0;
          padding: 0 0 0 5.5%;
  
          background-color: $white;
  
          transition: all .3s ease;
        }
        
        .collapsing {
          position: fixed;

          display: block;
          width: 100%;
          height: 100% !important;

          transition: all .3s ease-in;
        }
        
        .collapse.show {
            right: 0;
            width: 100%;
        }
        
      }
    }
  }
} 

@media (min-width: 768px) and (max-width: 850px) {
  header {
    .container{
      .navbar{
        margin-right: 8%;
        .navbar-brand{
          margin: 6px 0 0 10%;
          width: 200px;
        }      
      }
    }
  }
}

@include respond-to(sm) {
  header {
    .container{
      .navbar{
        margin: 6px 3% 0 0 !important;

        .navbar-brand{
          margin: 0 0 0 6%;
          width: 200px;
          img{
            width: 200px;
          }
        }

        .switcheroo{
          margin: 0 1.3% 0 2%;

          flex-direction: row-reverse;
          .nav-item{
            margin: 35px 0 0 0;
            .nav-link{
              padding-right: none;
            }
          }

          .navbar-buttons-inside{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .btn-number{
              position: absolute;

              padding: 15px 22%;
              margin: 3% 0 0 -44%;
  
              font-size: 24px;
              color: $white;
  
              background-color: $orange;
              border: none;
              border-radius: 37px;
  
              img{
                padding-right: 8px;
                padding-bottom: 8px;
                width: 30px;
              }
            }

            .btn-language{
              position: absolute;

              padding: 15px 29.5%;
              margin: 12% 0 0 -44%;
  
              font-size: 24px;
              color: $white;
  
              background-color: $dark-blue;
              border: none;
              border-radius: 37px;
  
              img{
                padding-left: 8px;
                padding-bottom: 4px;
                width: 27px;
              }
            }
          }

          .logos-footer{
            margin: 40%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .in-logo{
              margin-left: -465%;
              width: 50px;
            }
        
            .em-logo{
              margin-left: -165%;
              width: 52px;
            }
        
            .p-logo{
              margin-left: 120%;
              width: 52px;
            }
          }

          .navbar-buttons-outside{
            display:none;
          }
        }

        .collapse {
          position: fixed;
          top: 84px;
          right: -100%;
          z-index: 2000;
  
          display: block;
          height: 100% !important;
          width: 0;
          padding: 0 0 0 5.5%;
  
          background-color: $white;
  
          transition: all .3s ease;
        }
        
        .collapsing {
          position: fixed;

          display: block;
          width: 100%;
          height: 100% !important;

          transition: all .3s ease-in;
        }
        
        .collapse.show {
            right: 0;
            width: 100%;
        }
      }    
    }
  }
}

@media (min-width: 650px) and (max-width: 700px) {
  header {
    .container{
      .navbar{
        .navbar-buttons-inside{

          .btn-number{
            padding: 13px 19% !important;
            margin: 5% 0 0 -46% !important;
          }

          .btn-language{
            padding: 15px 26.5% !important;
            margin: 15% 0 0 -46% !important;
          }
        }
      }    
    }
  }
}

@media (min-width: 600px) and (max-width: 649px) {
  header {
    .container{
      .navbar{
        .navbar-buttons-inside{

          .btn-number{
            padding: 13px 17% !important;
            margin: 5% 0 0 -47% !important;
          }

          .btn-language{
            padding: 13px 24.5% !important;
            margin: 15% 0 0 -47% !important;
          }
        }
      }    
    }
  }
}

@media (min-width: 576px) and (max-width: 599px) {
  header {
    .container{
      .navbar{
        .navbar-buttons-inside{

          .btn-number{
            padding: 13px 15% !important;
            margin: 5% 0 0 -46% !important;
          }

          .btn-language{
            padding: 13px 22.5% !important;
            margin: 15% 0 0 -46% !important;
          }
        }
      }    
    }
  }
}

@include respond-to(xs) {
  header {
    .container{
      .navbar{
        margin: none;
        .navbar-brand{
          margin: 6px 0 0 1.5%;
          width: 200px;
          img{
            width: 200px;
          }
        }

        .switcheroo{
          margin: 0 0 0 0%;
          .nav-item{
            margin: 35px 0 0 0;
            .nav-link{
              padding-right: none;
            }
          }

          .navbar-buttons-outside{
            display: none;
          }    
          
          .navbar-buttons-inside{
            padding-top: 1px;
          }
        }

        .collapse {
          position: fixed;
          top: 84px;
          right: -100%;
          z-index: 2000;
  
          display: block;
          height: 100% !important;
          width: 0;
          padding: 0 0 0 5.5%;
  
          background-color: $white;
  
          transition: all .3s ease;
        }
        
        .collapsing {
          position: fixed;

          display: block;
          width: 100%;
          height: 100% !important;

          transition: all .3s ease-in;
        }
        
        .collapse.show {
            right: 0;
            width: 100%;
        }

      }
    }
  }
}
 