//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;
  
  .section-intro {
    padding-bottom: 215px;

    background-image: url("../assets/images/3.fw.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .swiper-container{
      margin-top: 87px;

      border: none;
      overflow: hidden;

      .swiper-slide{
        padding: 0 0 0 118px;
      }

      h1{
        margin: 149px 930px 0 0;
  
        width: 565px;
  
        font-size: 60px;
        font-weight: bold;
        color: $white;
      }

      .title2{
        margin: 149px 930px 0 0;

        width: 565px;
  
        font-size: 60px;
        color: $white;
      }
    }

    .swiper-pagination{
      margin: 0 0 0 -42%;
    }

    .logos{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      padding-top: 40px;

      .content-wrapper{
        margin-bottom: 50px;
        width: 80px;
      }

      .first{
        margin: 14px 0 0 117px;
        width: 58px;
      }

      .second{
        margin: 13px 0 0 166px;
        width: 58px;
      }

      .third{
        margin: 13px 0 0 210px;
        width: 59px;
      }
    }

    .logos-text{
      .text{
        text-align: center;
        .first-text{
          margin: -37px 0 0 112px;

          font-size: 15px;
          font-weight: bold;
          color: $white;
        }

        .second-text{
          margin: -41px 0 0 230px;
          width: 90px;

          font-size: 15px;
          font-weight: bold;
          color: $white;
        }

        .third-text{
          margin: -42px 0 0 353px;
          width: 90px;

          font-size: 15px;
          font-weight: bold;
          color: $white;
        }
      }
    }

    p{
      width: 70px;
    }

    .sidebar-item {
      position: fixed;
      z-index: 20;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin: 300px 0 0 93.5%;
      width: 58px;
      height: 260px;

      background-color: $white;

      .fb-logo{
        flex-grow: 1;
        margin: 13px 0 6px 0;

        width: 9px;
      }

      .ig-logo{
        margin: 0 5px 21px 0;

        width: 9px;
      }

      .in-logo{
        margin: 0 5px 22px 0;

        width: 9px;
      }

      .share-logo{
        margin: 0 5px 25px 0;

        width: 9px;
      }

      .phone-logo{
        margin: 0 0 9px 4px;
   
        width: 9px;
      }
    }
  }

  .section-mission{
    padding-bottom: 34px;
    background-color: $white;

    .content-wrapper{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }

    .content-holder {
      .title{
        font-size: 41px;
        font-weight: bold;
        color: $black;

        margin: -203px 0 0 43px;
      }

      .img{
        margin: -75px 0 81px 99px;
        width: 343px;
      }

      .content-pocket{
        width: 310px;

        &:nth-child(2){
          margin: 13px;
        }

        &:nth-child(3){
          margin: 11px;
        }

        &:nth-child(4){
          margin: 10px;
        }

        &:nth-child(5){
          margin: 12px;
        }

        &:nth-child(6){
          margin: 0 0 0 12px;
        }

        .bullet-point{
          margin-left: 44px; 
          width: 24px;

          vertical-align:middle;
        }

        .missions{
          font-size: 15px;
        }

        .btn-blue{
          position: absolute;
          margin: 4.2% 0 0 2%;
          padding: 18px 29px;

          font-size: 15px;
          color: $white;

          border: none;
          background-image: url("../assets/images/14.fw.png");
          background-repeat: no-repeat;
        }

        .btn-yellow{
          position: absolute;
          margin: 4.2% 0 0 13%;

          padding: 18px 29px;
          width: 200px;

          font-size: 15px;
          color: $white;

          background-color: $light-yellow;
          border: none;
          border-radius: 27px;
        }
      }
    }

    .box{ 
      position: relative;
      margin: 56px 0 0 172px;
  
      width: 690px;
      height: 800px;
  
      background-image: url("../assets/images/9.fw.png");
      background-position: center;
      background-repeat: no-repeat;
  
      z-index: 9;
  
      .title{
        padding: 210px 0 0 69px;

        font-size: 40px;
        color: $white;
  
        z-index: 11;
      }
    
      .content-pocket2{
        .logos{
          .first-logo{
            position: relative;
            margin: 20px 0 0 102px;
            width: 43px;
          }

          .second-logo{
            position: relative;
            margin: 3px 0 0 104px;
            width: 40px;
          }

          .third-logo{
            position: relative;
            margin: 2px 0 0 103px;
            width: 46px;
          }

          .fourth-logo{
            position: relative;
            margin: -1px 0 0 106px;
            width: 40px;
          }

          .small-title{
            z-index: 12;

            margin:-47px 0 15px 178px;
            width: 176px;

            font-size: 18px;
            font-weight: bold;
            color: $white;
          }

          .small-desc{
            z-index: 12;

            margin: -12px 0 33px 176px;
            width: 390px;

            font-size: 18px;
            color: $white;
          }
        }
      }
    }
  }

  .section-healthy{
    margin-bottom: 197px;
    .title{
      font-size: 40px;
      font-weight: bold;

      margin-left: 116px;
      margin-bottom: 7px;
    }

    .desc{
      font-size: 15px;
      font-weight: bold;

      margin-left: 116px;
    }

    .swiper-container{
      padding: 20px 0 0 116px;

    .swiper-wrapper{
      transition-duration: none;
      transform: none;
      
      .swiper-slide{  
        font-size: 28px;
        font-weight: bold;
        color: $white;
        line-height: 35px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(1n){
        width: 745px;   

          .caption{
            position: absolute;
        
            margin: 270px 0 0 -435px;
            width: 240px;
      
            line-height: 35px;
            z-index: 13;
          }

          .desc{
            position: absolute;
            
            margin: 402px 609px -85px 0px;
            width: 62px;
            height: 25px;

            font-size: 13px;
            text-align: center;

            background-color: $yellow;

            z-index: 13;
          }       
        }

        &:nth-child(2n){
          width: 371px;

          .caption{
            position: absolute;
        
            margin: 272px 0 0 -24px;
            width: 282px;
      
            z-index: 13;
          }

          .desc{
            position: absolute;
            
            margin: 402px 198px -85px 0px;
            width: 102px;
            height: 26px;

            font-size: 13px;
            text-align: center;

            background-color: $light-green;

            z-index: 13;
          }
        }

        &:nth-child(3n){
          width: 371px;

          .caption{
            position: absolute;
        
            margin: 270px 0 0 -52px;
            width: 240px;
      
            line-height: 35px;
            z-index: 13;
          }
          .desc{
            position: absolute;
            
            margin: 402px 179px -85px 0px;
            width: 124px;
            height: 26px;

            font-size: 13px;
            text-align: center;

            background-color: $blue;

            z-index: 13;
          }
        }

        img{
          z-index: 12;
        }
      }
    }
  }
    .btn{
      position: absolute;
      margin: 72px 0 0 113px;

      padding: 18px 64px;

      font-size: 15px;
      color: $white;

      border: none;
      background-image: url("../assets/images/20.fw.png");
      background-repeat: no-repeat;
    }
  }

  .section-is{
    padding: 190px 0 100px 0;
    background-image:url("../assets/images/21.fw.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content-wrapper{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      .img{
        position: relative;

        margin: 41px 0 0 136px;
      }

      .content-holder{
        .title{
          position: relative;
          margin: -113px 0 0 135px;

          font-size: 43px;
          font-weight: bold;
          color: $black;
        }

        .title-blue{
          position: relative;
          margin: -15px 0 33px 133px;

          font-size: 43px;
          font-weight: bold;
          color: $dark-blue;
        }

        .desc{
          position: relative;

          margin: 29px 0 45px 132px;
          width: 777px;

          font-size: 18px;
          line-height: 30px;

          color: $black;
        }

        .content-features{
          position: relative;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .content-pocket1{
            position: relative;

            margin: 4px 0 12px 0;
            padding: 0 0 0 131px;
            width: 939px;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .text{
              margin: 0 0 0 20px;
              font-size: 16px;
              font-weight: bold;
              color: $black;
            }

            .bullet-point{
              width: 28px;
            }
          }

          .content-pocket2{
            position: relative;
            padding: 7px 0 11px 131px;

            width: 939px;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .text{
              margin: 2px 0 0 20px;
              font-size: 16px;
              font-weight: bold;
              color: $black;
            }

            .bullet-point{
              width: 28px;
            }
          }

          .content-pocket3{
            position: relative;
            padding: 8px 0 16px 131px;

            width: 939px;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .text{
              margin: 4px 0 0 20px;
              font-size: 16px;
              font-weight: bold;
              color: $black;
            }

            .bullet-point{
              width: 28px;
            }
          }
        }

        .btn{
          position: absolute;
          padding: 18px 64px;
          margin: 36px 0 0 136px;
    
          font-size: 15px;
          color: $white;
    
          border: none;
          background-image: url("../assets/images/20.fw.png");
          background-repeat: no-repeat;
        }
      }
    }
  }
}

@media (min-width: 1921px) and (max-width: 2000px){
  .home {    
    .section-intro {
      padding-bottom: 12.7%;
  
      .swiper-container{
        margin-top: 87px;
  
        .swiper-wrapper{
          .swiper-slide{
            padding: 0 0 3.3% 0;
          }
        }
  
        h1{
          margin: 12.6% 0 0 -8px;
    
          width: 580px;
    
          letter-spacing: 1px;
        }
  
        .title2{
          margin: 149px 930px 0 0;
        }
      }
  
      .swiper-pagination{
        margin: 0 0 0 -49%;
      }
  
      .logos{    
        .first{
          margin: 50% 0 0 -11%;
        }
  
        .second{
          margin: 44% 0 0 26%;
        }
  
        .third{
          margin: 44% 0 0 65%;
        }
      }
  
      .logos-text{
        .text{
          .first-text{
            margin: -2.2% 0 0 -1%;
          }
  
          .second-text{
            margin: -2.5% 0 0 5%;
          }
  
          .third-text{
            margin: -2.3% 0 0 12%;
            width: 70px;
          }
        }
      }
  
      .sidebar-item {
        margin: 175px 0 0 89.4%;
      }
    }

    .section-mission{
      padding-bottom: 34px;
  
      .content-holder {  
        .img{
          margin: -24% 0 81px -6%;
        }

        .title{  
          margin: -81% 0 0 9%;
          width: 235px;
        }
  
        .content-pocket{
          width: 310px;
          position: absolute;
  
          &:nth-child(2){
            margin: 32px 0 0 11px;
          }
  
          &:nth-child(3){
            margin: 76px 0 0 11px;
          }
  
          &:nth-child(4){
            margin: 121px 0 0 11px;
          }
  
          &:nth-child(5){
            margin: 165px 0 0 11px;
          }
  
          &:nth-child(6){
            margin: 0 0 0 12px;
          }
  
          .bullet-point{
            margin-left: 210px 0 0 11px; 
          }
  
          .btn-blue{
            margin: 76.5% 0 0 5.8%;
          }
  
          .btn-yellow{
            margin: 76.5% 0 0 74%;
          }
        }
      }
  
      .box{ 
        margin: 58.5% 0 0 75.5%;
        .title{
          padding: 210px 0 0 48px;
          width: 530px;
        }
      
        .content-pocket2{
          .logos{
            .first-logo{
              margin: 33px 0 0 114px;
            }
  
            .second-logo{
              margin: 3px 0 0 114px;
            }
  
            .third-logo{
              margin: 2px 0 0 112px;
            }
  
            .fourth-logo{
              margin: -1px 0 0 117px;
            }
  
            .small-title{
              margin:-47px 0 15px 187px;
            }
  
            .small-desc{
              margin: -12px 0 33px 186px;
            }
          }
        }
      }
    }

    .section-healthy{
      margin-bottom: 250px;
      .title{
        margin-left: -1.5%;
        margin-bottom: 6px;

        letter-spacing: 2px;
      }
  
      .desc{
        margin-left: -1.5%;

        letter-spacing: 2px;
      }
  
      .swiper-container{
        margin: 18px 0 0 -8.3%;

    }
      .btn{
        margin: 67px 0 0 -1.4%;
      }
    }

    .section-is{
      padding: 172px 0 0 0;  
      .content-wrapper{
        .img{  
          margin: .8% 0 0 2.6%;
        }
  
        .content-holder{
          .title{
            margin: -135px 0 0 28.5%;
          }
  
          .title-blue{
            margin: -13px 0 30px 28.5%;
            letter-spacing: 2px;
          }
  
          .desc{
            margin: 27px 0 41px 28.5%;
            width: 665px;
          }
  
          .content-features{  
            .content-pocket1{
              margin: 8px 0 -4px 0;
              padding: 0 0 0 266px;
            }
  
            .content-pocket2{
              margin: 22px 0 0 0;
              padding: 0 0 0 135px;
            }
  
            .content-pocket3{
              margin: 13px 0 6px 0;
              padding-left: 135px;
            }
          }
  
          .btn{
            margin: 28px 0 0 271px;
          }
        }
      }
    }
  }
}

@include respond-to(lg) {
  .home {
    .section-intro {  
      .swiper-container{
        .swiper-slide{
          padding: 0 0 45px 118px;
        }
  
        h1{
          line-height: 1.2;
        }
  
        .title2{
          line-height: 1.2;
        }
      }
  
      .swiper-pagination{
        margin: 1% 0 0 -38%;
      }
  
      .sidebar-item {
        margin: 300px 0 0 87.5%;
      }
    }
  
    .section-mission{
      padding-bottom: 45px;

      .content-holder {
        &:nth-child(1n){
          width: 50%
        }
        &:nth-child(2n){
          width: 50%
        }

        .title1{  
          margin: -220px 0 0 40px;
        }

        .title2{  
          margin: -220px 0 0 40px;
        }
  
        .img{
          margin: 70px 90px 190px 20%;
          width: 350px;
        }
  
        .content-pocket{
          width: 400px;
  
          .missions{
            font-size: 18px;
          }
  
          .btn-blue{
            margin: 50px 0 0 30px;
            padding: 18px 29px;
          }
  
          .btn-yellow{
            margin: 50px 0 0 25%;
            padding: 18px 29px;
          }
        }
      }
  
      .box{ 
        margin: 55px 0 0 45%;
    
        .title{
          padding: 210px 0 0 69px;
        }
      }
    }

    .section-healthy{
      margin-bottom: 25px;

      .title{
        margin-left: 120px;
      }

      .desc{
        margin-left: 122px;
      }

      .swiper-container{
        padding: 20px 0 80px 124px;
      }

      .btn{
        margin: -30px 0 0 122px;
      }
    }

    .section-is{
      padding: 0px 0 175px 0;
  
      .content-wrapper{
        .img{  
          margin: 65% 0 0 26%;
          width: 475px;
        }
  
        .content-holder{
          .title{
            margin: -59% 0 0 13%;
          }
  
          .title-blue{
            margin: 0 0 52% 13%;
          }
  
          .desc{
            margin: -29px 0 45px 13%;
          }
  
          .content-features{  
            .content-pocket1{
              margin: 4px 0 12px -2%;
            }
  
            .content-pocket2{
              padding: 7px 0 11px 13%; 
              left: 0;
            }
  
            .content-pocket3{
              padding: 8px 0 16px 13%;
              left: 0;
            }
          }
  
          .btn{
            padding: 18px 53px;
            margin: 36px 0 0 10%;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1075px){
  .section-intro {  
    .swiper-pagination{
      margin: 1% 0 0 -36% !important;
    }
  }

  .section-mission{
    .box{ 
      margin: 55px 0 0 30% !important;
    }
  }

  .section-is{
    .desc{
      margin: -29px 0 45px 13%;
    }

    .btn{
      padding: 18px 53px;
      margin: 36px 0 0 12%  !important;
    }
  }
}

@include respond-to(md) {
  .home {
    .section-intro {
      padding-bottom: 80px;
      .swiper-container{
        .swiper-slide{
          padding: 0 0 0 80px;
        }
      }

      .swiper-pagination{
        margin: 1% 0 0 -39%;
      }
  
      .logos{  
        .content-wrapper{
          margin-bottom: 50px;
          width: 80px;
        }
  
        .first{
          margin: 14px 0 0 83px;
          width: 65px;
        }
  
        .second{
          margin: 13px 0 0 150px;
          width: 65px;
        }
  
        .third{
          margin: 13px 0 0 210px;
          width: 65px;
        }
      }
  
      .logos-text{
        .text{
          text-align: center;
          .first-text{
            margin: -37px 0 0 82px;
  
            font-size: 18px;
          }
  
          .second-text{
            margin: -53px 0 0 209px;
            width: 105px;
  
            font-size: 18px;
          }
  
          .third-text{
            margin: -49px 0 0 359px;
            width: 90px;
  
            font-size: 18px;
          }
        }
      }

      .sidebar-item {
        display: none;
      }
    }

    .section-mission{
      padding-bottom: 34px;

      .content-holder {

        &:nth-child(1n){
          width: 40%
        }
        &:nth-child(2n){
          margin-top: 8%;
          width: 60%
        }

        .img{
          margin: 40px 40px 80px 15%;
          width: 280px;
        }
        .title{  
          margin: -130px 0 0 43px;
          font-size: 35px;
        }
  
        .content-pocket{
          .btn-blue{
            margin: 4.2% 0 0 5%;
            padding: 14px 14px 16px 0;
            width: 190px;

            font-size: 14px;

            background-size: 90%;
          }

          .btn-yellow{
            margin: 4.2% 0 0 28%;
            padding: 14px 12px;

            width: 175px;
          }
        }
      }
  
      .box{ 
        margin: 170px 0 0 38%;

        background-size: 100% 100%;
      }
    }

    .section-healthy{
      margin-bottom: 25px;

      .title{
        margin-left: 79px;
      }

      .desc{
        margin-left: 80px;
      }

      .swiper-container{
        padding: 20px 0 80px 82px;
      }

      .btn{
        margin: -30px 0 0 82px;
      }
    }

    .section-is{
      padding: 0px 0 175px 0;
  
      .content-wrapper{
        .img{  
          margin: 65% 0 0 17%;
          width: 475px;
        }
  
        .content-holder{
          .title{
            margin: -59% 0 0 8.5%;
          }
  
          .title-blue{
            margin: 0 0 52% 8.5%;
          }
  
          .desc{
            margin: -29px 0 45px 9%;
          }
  
          .content-features{  
            .content-pocket1{
              margin: 4px 0 12px -10%;
            }
  
            .content-pocket2{
              padding: 7px 0 11px 85px; 
            }
  
            .content-pocket3{
              padding: 8px 0 16px 85px;
            }
          }
  
          .btn{
            padding: 18px 53px;
            margin: 36px 0 0 8%;
          }
        }
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 900px){
  .section-intro {
    .sidebar-item {
      margin: 300px 0 0 81% !important;
    }
  }

  .section-mission{
    .box{ 
      margin: 170px 0 0 25% !important;
    }
  }

  .section-is{
    .desc{
      margin: -29px 0 45px 13%;
      width: 700px !important;
    }

    .btn{
      margin: 36px 0 0 9.5% !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 799px){
  .section-intro {
    .sidebar-item {
      margin: 300px 0 0 77.5% !important;
    }
  }

  .section-mission{
    .box{ 
      margin: 170px 0 0 16% !important;
    }
  }

  .section-is{
    padding: 0px 0 175px 0;
      .content-holder{
        .desc{
          margin: -29px 0 45px 9%;
          width: 620px !important;
        }

        .btn{
          padding: 18px 53px;
          margin: 36px 0 0 11% !important;
        }
      }
    }
}

@include respond-to(sm) {
  .home {
    .section-intro {
      padding-bottom: 80px;
      .swiper-container{
        h1{
          margin: 149px 930px 0 -30px;
          width: 530px;
        }
        .swiper-slide{
          padding: 0 0 0 80px;
        }
      }

      .swiper-pagination{
        margin: 1% 0 0 -40%;
      }
  
      .logos{    
        .first{
          margin: 14px 0 0 54px;
          width: 65px;
        }
  
        .second{
          margin: 13px 0 0 118px;
          width: 65px;
        }
  
        .third{
          margin: 13px 0 0 176px;
          width: 65px;
        }
      }
  
      .logos-text{
        .text{
          .first-text{
            margin: -37px 0 0 52px;
  
            font-size: 18px;
          }
  
          .second-text{
            margin: -53px 0 0 180px;
            width: 105px;
  
            font-size: 18px;
          }
  
          .third-text{
            margin: -49px 0 0 325px;
            width: 90px;
  
            font-size: 18px;
          }
        }
      }

      .sidebar-item {
        display: none;
      }
    }
    
    .section-mission{
      .content-holder {
        &:nth-child(1n){
          width: 40%
        }

        &:nth-child(2n){
          margin-top: 8%;
          width: 60%
        }

        .img{
          margin: 50px 0 80px 12%;
          width: 235px;
        }

        .title{  
          margin: -130px 0 0 43px;
          font-size: 32px;
        }
  
        .content-pocket{
          .bullet-point{
            margin-left: 20%; 
            width: 22px;
          }
  
          .missions{
            font-size: 14px;
          }

          .btn-blue{
            margin: 3.2% 0 0 5%;
            padding: 14px 14px 16px 0;
            width: 190px;

            font-size: 14px;

            background-size: 90%;
          }

          .btn-yellow{
            margin: 80px 0 0 5%;
            padding: 14px 12px;

            width: 175px;
          }
        }
      }
  
      .box{ 
        margin: 180px 0 0 12%;

        background-size: 90% 90%;
      }
    }

    .section-healthy{
      margin-bottom: 25px;

      .title{
        margin-left: 52px;
      }

      .desc{
        margin-left: 54px;
      }

      .swiper-container{
        padding: 20px 0 80px 54px;
      }

      .btn{
        margin: -30px 0 0 52px;
      }
    }

    .section-is{
      padding: 0px 0 175px 0;
  
      .content-wrapper{
        .img{  
          margin: 65% 0 0 11%;
          width: 475px;
        }
  
        .content-holder{
          .title{
            margin: -59% 0 0 5.3%;
          }
  
          .title-blue{
            margin: 0 0 52% 5.3%;
          }
  
          .desc{
            margin: -29px 0 45px 5.3%;
            width: 600px;
          }
  
          .content-features{  
            .content-pocket1{
              margin: 4px 17% 12px 0;
            }
  
            .content-pocket2{
              padding: 7px 0 11px 5.3%; 
            }
  
            .content-pocket3{
              padding: 8px 0 16px 5.3%;
            }
          }
  
          .btn{
            padding: 18px 53px;
            margin: 36px 0 0 7%;
          }
        }
      }
    }
  }
}

@media (min-width: 661px) and (max-width: 700px){
  .box{ 
    margin: 130px 0 0 0% !important;

    background-size: 85% 85% !important;
  }
}

@media (min-width: 576px) and (max-width: 660px){
  .box{ 
    margin: 120px 0 0 -24% !important;

    background-size: 80% 80% !important;
  }

  .section-is{
    .content-wrapper{
      .content-holder{
        .title{
          font-size: 32px !important;
        }

        .title-blue{
          font-size: 32px !important;
        }

        .desc{
          width: 500px !important;
        }
      }
    }
  }
}

@include respond-to(xs) {
  .home {
    .section-intro {
      padding-bottom: 80px;
      .swiper-container{
        h1{
          margin: 150px 0 0 0;
          font-size: 48px;
        }
        .swiper-slide{
          padding: 0 0 0 25px;
        }
      }

      .swiper-pagination{
        margin: 0 0 0 -40%;
      }
  
      .logos{  
        padding-top: 10px;

        .content-wrapper{
          position: absolute;

          .first{
            margin: 13px 0 0 92px;
            width: 65px;
          }
    
          .second{
            margin: 10px 0 0 248px;
            width: 65px;
          }
    
          .third{
            margin: 13px 0 0 395px;
            width: 65px;
          }
        }
      }

      .logos-text{
        .text{
          .first-text{
            margin: 12px 0 0 15%;
  
            font-size: 16px;
          }
  
          .second-text{
            margin: -45px 0 0 220px;
            width: 105px;
  
            font-size: 18px;
          }
  
          .third-text{
            margin: -49px 0 0 378px;
            width: 90px;
  
            font-size: 18px;
          }
        }
      }

      .sidebar-item{
        display: none;
      }
    }
    
    .section-mission{
      padding-bottom: 0;

      .content-holder {
        &:nth-child(2n){
          margin-top: 15%;
          width: 100%
        }

        .img{
          display: none;
        }

        .title{  
          margin: -35px 0 0 40px;

          font-size: 30px;
        }

        .title2{
          margin: -35px 0 38px 40px;

          font-size: 26px !important;
        }
  
        .content-pocket{
          width: 290px;

          .bullet-point{
            margin-left: 6%; 
            width: 20px;
          }
  
          .missions{
            font-size: 14px;
          }

          .btn-blue{
            margin: 3.2% 0 0 5%;
            padding: 14px 14px 14px 0;
            width: 180px;

            font-size: 13px;

            background-size: 90%;
          }

          .btn-yellow{
            margin: 75px 0 0 5%;
            padding: 14px 12px;

            width: 163px;
          }
        }
      }
  
      .box{ 
        margin: 120px 0 0 -8%;

        background-size: 84% 75%;
        .content-pocket2{
          .logos{
            .first-logo{
              margin: 20px 0 0 102px;
              width: 40px;
            }
  
            .second-logo{
              margin: 3px 0 0 104px;
              width: 40px;
            }
  
            .third-logo{
              margin: 2px 0 0 103px;
              width: 42px;
            }
  
            .fourth-logo{
              margin: -1px 0 0 106px;
              width: 38px;
            }
  
            .small-title{ 
              margin:-47px 0 15px 178px;
              width: 176px;
  
              font-size: 16px;
            }
  
            .small-desc{  
              margin: -12px 0 33px 176px;
              width: 390px;
  
              font-size: 16px;
            }
          }
        }
      }
    }

    .section-healthy{
      margin-bottom: 25px;

      .title{
        margin-left: 26px;

        font-size: 30px;
      }

      .desc{
        margin-left: 26px;

        font-size: 14px;
      }

      .swiper-container{
        padding: 20px 0 80px 29px;
        .swiper-slide{

          &:nth-child(1n){
            width: 400px !important;  
    
            .caption{
              margin: 80px 0 0 -115px !important;

              font-size: 20px;
              line-height: 24px !important;
            }
  
            .desc{              
              margin: 252px 295px 0 0 !important;
              width: 50px;
              height: 25px;
  
              font-size: 12px;    
            } 

            img{
              width: 400px;
              margin: 0 0 0 -1%;
            }      
          }

          &:nth-child(2n){
            width: 200px!important;
  
            .caption{         
              margin: 80px 0 0 125px !important;
              width: 165px;

              font-size: 20px;
            }
  
            .desc{             
              margin: 250px 55px 0 0px !important;
              width: 102px;
              height: 26px;
  
              font-size: 13px;
            }

            img{
              width: 200px;
            }
          }

          &:nth-child(3n){
            width: 200px!important;
  
            .caption{         
              margin: 80px 0 0 125px !important;
              width: 165px;

              font-size: 20px;
            }
  
            .desc{             
              margin: 250px 55px 0 0px !important;
              width: 102px;
              height: 26px;
  
              font-size: 13px;
            }

            img{
              width: 200px;
            }
          }
        }
      }

      .btn{
        margin: -30px 0 0 28px;
        padding: 14px 14px 14px 0;
        width: 180px;

        font-size: 13px;

        background-size: 90%;

      }
    }

    .section-is{
      padding: 0px 0 24% 0;
  
      .content-wrapper{
        .img{  
          margin: 55% 0 0 6%;
          width: 400px;
        }
  
        .content-holder{
          .title{
            margin: -48% 0 0 3%;
            font-size: 32px !important;
          }
  
          .title-blue{
            margin: 0 0 44% 3%;
            font-size: 32px !important;
          }
  
          .desc{
            margin: -29px 0 45px 3%;
            width: 500px;
          }
  
          .content-features{  
            .content-pocket1{
              margin: 4px 22% 12px 0;
            }
  
            .content-pocket2{
              padding: 7px 0 11px 3%; 
            }
  
            .content-pocket3{
              padding: 8px 0 16px 3%;
            }
          }
  
          .btn{
            padding: 18px 53px;
            margin: 36px 0 0 5%;
          }
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 530px){
  .section-intro {
    .logos-text{
      .text{
        .first-text{
          margin: 12px 0 0 17% !important;
        }
      }
    }
  }

  .section-mission{
    .content-holder {
      .box{ 
        margin: 110px 0 0 -13% !important;

        background-size: 71% 72% !important;

        .title{
          margin: -35px 0 0 14% !important;
        }     
        
        .content-pocket2{
          .logos{
            .first-logo{
              margin: 20px 0 0 24% !important;
            }

            .second-logo{
              margin: 3px 0 0 24% !important;
            }

            .third-logo{
              margin: 2px 0 0 24% !important;
            }

            .fourth-logo{
              margin: -1px 0 0 24% !important;
            }

            .small-title{ 
              margin:-47px 0 15px 34% !important;
              width: 158px !important;
            }

            .small-desc{  
              margin: -12px 0 33px 34% !important;
              width: 275px !important;
            }
          }
        }        
      }
    }
  }

  .section-is{
    .content-wrapper{
      .img{  
        margin: 60% 0 0 7% !important;
        width: 350px !important;
      }

      .content-holder{
        .title{
          margin: -43% 0 0 3% !important;
        }

        .title-blue{
          margin: 0 0 38% 3% !important;
        }

        .desc{
          margin: -29px 0 45px 3% !important;
          width: 420px !important;
        }

        .content-features{  
          .content-pocket1{
            margin: 4px 22% 12px 0;
          }

          .content-pocket2{
            padding: 7px 0 11px 3% !important; 
            left: 0;
          }

          .content-pocket3{
            padding: 8px 0 16px 3% !important;
            left: 0;
          }
        }

        .btn{
          padding: 18px 53px;
          margin: 36px 0 0 5%;
        }
      }
    }
  }
}

@media (min-width: 470px) and (max-width: 499px){
  .home {
    .section-intro {
      .swiper-container{
        h1{
          width: 375px;
          margin: 110px 930px 0 0;

          font-size: 40px;
        }
        .swiper-slide{
          padding: 0 0 0 18px;
        }
      }

      .logos{  
        .first{
          margin: 13px 0 0 66px !important;
        }
  
        .second{
          margin: 10px 0 0 220px !important;
        }
  
        .third{
          margin: 13px 0 0 372px !important;
        }
      }
  
      .logos-text{
        .text{
          .first-text{
            margin: 20px 0 0 13%;
  
            font-size: 18px;
          }
  
          .second-text{
            margin: -51px 0 0 39% !important;
          }
  
          .third-text{
            margin: -49px 0 0 72%;
          }
        }
      }
    }

    .section-mission{
      .content-holder {
        &:nth-child(2n){
          margin-top: 8%;
        }
  
        .content-pocket{
          .bullet-point{
            margin-left: 15%; 
          }
        }
      }
  
      .box{ 
        margin: 120px 0 0 -14% !important;

        background-size: 71% 72% !important;

        .title{
          margin: -35px 0 0 70px;
        }

        .content-pocket2{
          .logos{
            .first-logo{
              margin: 20px 0 0 138px;
            }
  
            .second-logo{
              margin: 3px 0 0 138px;
            }
  
            .third-logo{
              margin: 2px 0 0 138px;
            }
  
            .fourth-logo{
              margin: -1px 0 0 140px;
            }
  
            .small-title{ 
              margin:-47px 0 15px 200px;
            }
  
            .small-desc{  
              margin: -12px 0 33px 200px;
            }
          }
        }
      }
    }

    .section-is{  
      .content-wrapper{
        .img{  
          margin: 60% 0 0 7% !important;
          width: 350px !important;
        }
  
        .content-holder{
          .title{
            margin: -43% 0 0 3% !important;
            font-size: 30px!important;
          }
  
          .title-blue{
            margin: 0 0 38% 3% !important;
            font-size: 30px!important;
          }
  
          .desc{
            margin: -29px 0 45px 3% !important;
            width: 420px !important;
          }
        }
      }
    }
  }
}

@media (min-width: 420px) and (max-width: 469px){
  .home {
    .section-intro {
      .swiper-container{
        h1{
          width: 375px;
          margin: 90px 930px 0 0;

          font-size: 40px;
        }
        .swiper-slide{
          padding: 0 0 0 18px;
        }
      }

      .logos{  
        .content-wrapper{
          margin-bottom: 50px;
          width: 80px;
        }
  
        .first{
          margin: 13px 0 0 62px !important;
        }
  
        .second{
          margin: 10px 0 0 202px !important;
        }
  
        .third{
          margin: 13px 0 0 350px !important;
        }
      }
  
      .logos-text{
        .text{
          .first-text{
            margin: 20px 0 0 13%;
  
            font-size: 18px;
          }
  
          .second-text{
            margin: -51px 0 0 39%;
          }
  
          .third-text{
            margin: -49px 0 0 72%;
          }
        }
      }
    }

    .section-mission{
      padding-bottom: 34px;

      .content-holder {
        .content-pocket{
          .bullet-point{
            margin-left: 15%; 
          }
        }
      }
  
      .box{ 
        margin: 120px 0 0 -16% !important;

        background-size: 67% 65% !important;
        .title{
          margin: -35px 0 0 82px;
        }

        .content-pocket2{
          .logos{
            .first-logo{
              margin: 20px 0 0 148px !important;
            }
  
            .second-logo{
              margin: 3px 0 0 148px !important;
            }
  
            .third-logo{
              margin: 2px 0 0 148px !important;
            }
  
            .fourth-logo{
              margin: -1px 0 0 150px !important;
            }

            .small-title{ 
              margin:-47px 0 15px 200px;
            }
  
            .small-desc{  
              margin: -12px 0 33px 200px !important;
              width: 295px !important;
            }
          }
        }
      }
    }

    .section-healthy{
      .title{
        margin-left: 20px !important;
      }

      .desc{
        margin-left: 21px !important;
      }

      .swiper-container{
        padding: 10px 0 80px 24px !important;
      }

      .btn{
        margin: -30px 0 0 22px !important;
        padding: 14px 14px 14px 0;
        width: 180px;

        font-size: 13px;

        background-size: 90%;

      }
    }

    .section-is{
      padding: 0px 0 100px 0;
  
      .content-wrapper{
        .img{  
          margin: 68% 0 0 7% !important;
          width: 350px !important;
        }
  
        .content-holder{
          .title{
            margin: -108% 0 0 6% !important;
            font-size: 28px!important;
          }
  
          .title-blue{
            margin: 0 0 87% 6% !important;
            font-size: 28px!important;
          }
  
          .desc{
            margin: -29px 0 45px 6% !important;
            width: 385px !important;
            font-size: 16px;
          }
  
          .content-features{  
            .content-pocket1{
              margin: 4px 67% 12px 0;
              width: 345px;
            }
  
            .content-pocket2{
              left: 0;
              margin: 7px 5% 11px 0 !important; 
              width: 345px;
            }
  
            .content-pocket3{
              left: 0;
              margin: 8px 5% 16px 0 !important;
              width: 345px;
            }
          }
  
          .btn{
            padding: 18px 53px;
            margin: 10px 0 0 5%;
          }
        }
      }
    }
  }
}

@media (min-width: 380px) and (max-width: 419px){
  .home {
    .section-intro {
      .swiper-container{
        h1{
          width: 300px;
          margin: 60px 930px 0 0;

          font-size: 37px;
        }
        .swiper-slide{
          padding: 0 0 0 18px;
        }
      }

      .logos{    
        .first{
          margin: 13px 0 0 45px !important;
        }
  
        .second{
          margin: 10px 0 0 165px !important;
        }
  
        .third{
          margin: 13px 0 0 305px !important;
        }
      }
  
      .logos-text{
        .text{
          .first-text{
            margin: 20px 0 0 10% !important;
          }
  
          .second-text{
            margin: -51px 0 0 36% !important;
          }
  
          .third-text{
            margin: -49px 0 0 69% !important;
          }
        }
      }
    }

    .section-mission{
      padding-bottom: 34px;

      .content-holder {
        .title{  
          margin: -35px 0 0 50px;
        }
  
        .content-pocket{
          .bullet-point{
            margin-left: 15%; 
          }
        }
      }
  
      .box{ 
        margin: 100px 0 0 -19% !important;

        background-size: 61% 65%;

        .title{
          margin: -35px 0 0 100px;
        }

        .content-pocket2{
          .logos{
            .first-logo{
              margin: 20px 0 0 25%;
            }
  
            .second-logo{
              margin: 3px 0 0 25%;
            }
  
            .third-logo{
              margin: 2px 0 0 25%;
            }
  
            .fourth-logo{
              margin: -1px 0 0 25%;
            }
  
            .small-title{ 
              margin: -47px 0 15px  34%;

              font-size: 15px;
            }
  
            .small-desc{  
              margin: -12px 0 33px  34%;
              width: 240px;
  
              font-size: 15px;
            }
          }
        }
      }
    }

    .section-healthy{
      .title{
        margin-left: 16px !important;
      }

      .desc{
        margin-left: 17px !important;
      }

      .swiper-container{
        padding: 18px 0 80px 20px !important;
      }

      .btn{
        margin: -30px 0 0 18px !important;
      }
    }

    .section-is{
      padding: 0px 0 100px 0;
  
      .content-wrapper{
        .img{  
          margin: 68% 0 0 5% !important;
          width: 330px !important;
        }
  
        .content-holder{
          .title{
            margin: -108% 0 0 4% !important;
            font-size: 28px!important;
          }
  
          .title-blue{
            margin: 0 0 87% 4% !important;
            font-size: 28px!important;
          }
  
          .desc{
            margin: -29px 0 45px 4% !important;
            width: 330px !important;
            font-size: 16px;
          }
  
          .content-features{  
            .content-pocket1{
              margin: 4px 69% 12px 0;
              width: 345px;
            }
  
            .content-pocket2{
              left: 0;
              margin: 7px 7% 11px 0 !important; 
              width: 345px;
            }
  
            .content-pocket3{
              left: 0;
              margin: 8px 7% 16px 0 !important;
              width: 345px;
            }
          }
  
          .btn{
            margin: 10px 0 0 4%;
          }
        }
      }
    }
  }
}

@media (min-width: 351px) and (max-width: 379px){
  .home {
    .section-intro {
      .swiper-container{
        h1{
          width: 300px;
          margin: 30px 930px 0 0;

          font-size: 37px;
        }
        .swiper-slide{
          padding: 0 0 0 18px;
        }
      }

      .logos{    
        .first{
          margin: 13px 0 0 22px !important;
        }
  
        .second{
          margin: 10px 0 0 134px !important;
        }
  
        .third{
          margin: 13px 0 0 262px !important;
        }
      }
  
      .logos-text{
        .text{
          .first-text{
            margin: 20px 0 0 5%;
          }
  
          .second-text{
            margin: -42px 0 0 30%;

            font-size: 16px;
          }
  
          .third-text{
            margin: -46px 0 0 66%;
  
            font-size: 16px;
          }
        }
      }
    }

    .section-mission{
      padding-bottom: 34px;

      .content-holder {
        .title{  
          width: 245px;
        }
  
        .content-pocket{
          .bullet-point{
            margin-left: 15%; 
          }
        }
      }
  
      .box{ 
        margin: 100px 0 0 -23% !important;

        background-size: 55% 58% !important;

        .title{
          margin: -35px 0 0 17%;
          font-size: 26px;
          width: 390px;
        }

        .content-pocket2{
          .logos{
            .first-logo{
              margin: 20px 0 0 27%;
            }
  
            .second-logo{
              margin: 3px 0 0 27%;
            }
  
            .third-logo{
              margin: 2px 0 0 27%;
            }
  
            .fourth-logo{
              margin: -1px 0 0 27%;
            }
  
            .small-title{ 
              margin:-47px 0 15px 35%;
  
              font-size: 15px;
            }
  
            .small-desc{  
              margin: -12px 0 33px 35%;
              width: 240px;
  
              font-size: 15px;
            }
          }
        }
      }
    }

    .section-healthy{
      .title{
        margin-left: 18px !important;
      }

      .desc{
        margin-left: 20px !important;
      }

      .swiper-container{
        padding: 5px 0 80px 22px !important;
      }

      .btn{
        margin: -45px 0 0 18px !important;
      }
    }

    .section-is{
      padding: 0px 0 100px 0;
  
      .content-wrapper{
        .img{  
          margin: 86% 0 0 7% !important;
          width: 290px !important;
        }
  
        .content-holder{
          .title{
            margin: -110% 0 0 5% !important;
            font-size: 28px!important;
            width: 260px
          }
  
          .title-blue{
            margin: 0 0 82% 5% !important;
            font-size: 28px!important;
          }
  
          .desc{
            margin: -29px 0 45px 5% !important;
            width: 290px !important;
            font-size: 16px;
          }
  
          .content-features{  
            .content-pocket1{
              margin: 4px 65% 12px 0;
              width: 345px;
            }
  
            .content-pocket2{
              margin: 7px 9% 11px 0 !important; 
              width: 300px;
            }
  
            .content-pocket3{
              margin: 8px 9% 16px 0 !important;
              width: 300px;
            }
          }
  
          .btn{
            margin: 10px 0 0 5%;
          }
        }
      }
    }
  }
}

@media (min-width: 340px) and (max-width: 350px){
  .home {
    .section-intro {
      .swiper-container{
        h1{
          width: 300px;
          margin: 30px 930px 0 0;

          font-size: 37px;
        }
        .swiper-slide{
          padding: 0 0 0 18px;
        }
      }

      .logos{    
        .first{
          margin: 13px 0 0 22px !important;
        }
  
        .second{
          margin: 10px 0 0 134px !important;
        }
  
        .third{
          margin: 13px 0 0 258px !important;
        }
      }
  
      .logos-text{
        .text{
          .first-text{
            margin: 20px 0 0 5%;
          }
  
          .second-text{
            margin: -42px 0 0 31%;

            font-size: 16px;
          }
  
          .third-text{
            margin: -46px 0 0 70%;
  
            font-size: 16px;
          }
        }
      }
    }

    .section-mission{  
      .box{ 
        margin: 100px 0 0 -24% !important;

        background-size: 51% 59% !important;
      }

      .title{
        margin: -35px 0 0 17% !important;
        font-size: 26px !important;
        width: 390px !important;
      }

      .content-pocket2{
        .logos{
          .first-logo{
            margin: 20px 0 0 27% !important;
          }

          .second-logo{
            margin: 3px 0 0 27% !important;
          }

          .third-logo{
            margin: 2px 0 0 27% !important;
          }

          .fourth-logo{
            margin: -1px 0 0 27% !important;
          }

          .small-title{ 
            margin:-47px 0 15px 35% !important;

            font-size: 15px !important;
          }

          .small-desc{  
            margin: -12px 0 33px 35% !important;
            width: 240px !important;

            font-size: 15px !important;
          }
        }
      }
    }

    .section-healthy{
      .title{
        margin-left: 18px !important;
      }

      .desc{
        margin-left: 20px !important;
      }

      .swiper-container{
        padding: 5px 0 80px 22px !important;
      }

      .btn{
        margin: -45px 0 0 18px !important;
      }
    }

    .section-is{
      padding: 0px 0 100px 0;
  
      .content-wrapper{
        .img{  
          margin: 86% 0 0 7% !important;
          width: 290px !important;
        }
  
        .content-holder{
          .title{
            margin: -110% 0 0 5% !important;
            font-size: 28px!important;
            width: 260px
          }
  
          .title-blue{
            margin: 0 0 82% 5% !important;
            font-size: 28px!important;
          }
  
          .desc{
            margin: -29px 0 45px 5% !important;
            width: 290px !important;
            font-size: 16px;
          }
  
          .content-features{  
            .content-pocket1{
              margin: 4px 65% 12px 0;
              width: 345px;
            }
  
            .content-pocket2{
              margin: 7px 9% 11px 0 !important; 
              width: 300px;
            }
  
            .content-pocket3{
              margin: 8px 9% 16px 0 !important;
              width: 300px;
            }
          }
  
          .btn{
            margin: 10px 0 0 5%;
          }
        }
      }
    }
  }
}

@media (min-width: 330px) and (max-width: 339px){
  .home {
    .section-intro {
      .swiper-container{
        h1{
          width: 300px;
          margin: 30px 930px 0 0;

          font-size: 37px;
        }
        .swiper-slide{
          padding: 0 0 0 18px;
        }
      }

      .logos{    
        .first{
          margin: 13px 0 0 22px !important;
        }
  
        .second{
          margin: 10px 0 0 130px !important;
        }
  
        .third{
          margin: 13px 0 0 250px !important;
        }
      }
  
      .logos-text{
        .text{
          .first-text{
            margin: 20px 0 0 5%;
          }
  
          .second-text{
            margin: -42px 0 0 31%;

            font-size: 16px;
          }
  
          .third-text{
            margin: -46px 0 0 70%;
  
            font-size: 16px;
          }
        }
      }
    }

    .section-mission{  
      .box{ 
        margin: 100px 0 0 -26% !important;

        background-size: 49% 58% !important;

        .title{
          margin: -35px 0 0 20% !important;
          font-size: 24px !important;
          width: 345px !important;
        }

        .content-pocket2{
          .logos{
            .first-logo{
              margin: 20px 0 0 29% !important;
            }
  
            .second-logo{
              margin: 3px 0 0 29% !important;
            }
  
            .third-logo{
              margin: 2px 0 0 29% !important;
            }
  
            .fourth-logo{
              margin: -1px 0 0 29% !important;
            }
  
            .small-title{ 
              margin:-47px 0 15px 37% !important;
  
              font-size: 15px !important;
            }
  
            .small-desc{  
              margin: -12px 0 33px 37% !important;
              width: 240px !important;
  
              font-size: 15px !important;
            }
          }
        }
      }
    }

    .section-healthy{
      .title{
        margin-left: 18px !important;
      }

      .desc{
        margin-left: 20px !important;
      }

      .swiper-container{
        padding: 5px 0 80px 22px !important;
      }

      .btn{
        margin: -45px 0 0 18px !important;
      }
    }

    .section-is{
      padding: 0px 0 100px 0;
  
      .content-wrapper{
        .img{  
          margin: 86% 0 0 7% !important;
          width: 290px !important;
        }
  
        .content-holder{
          .title{
            margin: -110% 0 0 5% !important;
            font-size: 28px!important;
            width: 260px
          }
  
          .title-blue{
            margin: 0 0 82% 5% !important;
            font-size: 28px!important;
          }
  
          .desc{
            margin: -29px 0 45px 5% !important;
            width: 290px !important;
            font-size: 16px;
          }
  
          .content-features{  
            .content-pocket1{
              margin: 4px 65% 12px 0;
              width: 345px;
            }
  
            .content-pocket2{
              margin: 7px 9% 11px 0 !important; 
              width: 300px;
            }
  
            .content-pocket3{
              margin: 8px 9% 16px 0 !important;
              width: 300px;
            }
          }
  
          .btn{
            margin: 10px 0 0 5%;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 329px){
  .home {
    .section-intro {
      .swiper-container{
        h1{
          width: 300px;
          margin: 30px 930px 0 0;

          font-size: 37px;
        }
        .swiper-slide{
          padding: 0 0 0 18px;
        }
      }

      .logos{    
        .first{
          margin: 13px 0 0 22px !important;
        }
  
        .second{
          margin: 10px 0 0 130px !important;
        }
  
        .third{
          margin: 13px 0 0 246px !important;
        }
      }
  
      .logos-text{
        .text{
          .first-text{
            margin: 20px 0 0 5%;
          }
  
          .second-text{
            margin: -42px 0 0 33%;

            font-size: 16px;
          }
  
          .third-text{
            margin: -46px 0 0 70%;
  
            font-size: 16px;
          }
        }
      }
    }

    .section-mission{  
      .box{ 
        margin: 100px 0 0 -26% !important;

        background-size: 49% 58% !important;

        .title{
          margin: -35px 0 0 20% !important;
          font-size: 24px !important;
          width: 345px !important;
        }

        .content-pocket2{
          .logos{
            .first-logo{
              margin: 20px 0 0 29% !important;
            }
  
            .second-logo{
              margin: 3px 0 0 29% !important;
            }
  
            .third-logo{
              margin: 2px 0 0 29% !important;
            }
  
            .fourth-logo{
              margin: -1px 0 0 29% !important;
            }
  
            .small-title{ 
              margin:-47px 0 15px 37% !important;
  
              font-size: 15px !important;
            }
  
            .small-desc{  
              margin: -12px 0 33px 37% !important;
              width: 240px !important;
  
              font-size: 15px !important;
            }
          }
        }
      }
    }

    .section-healthy{
      .title{
        margin-left: 18px !important;
      }

      .desc{
        margin-left: 20px !important;
      }

      .swiper-container{
        padding: 5px 0 80px 22px !important;
      }

      .btn{
        margin: -45px 0 0 18px !important;
      }
    }

    .section-is{
      padding: 0px 0 100px 0;
  
      .content-wrapper{
        .img{  
          margin: 86% 0 0 7% !important;
          width: 290px !important;
        }
  
        .content-holder{
          .title{
            margin: -110% 0 0 5% !important;
            font-size: 28px!important;
            width: 260px
          }
  
          .title-blue{
            margin: 0 0 82% 5% !important;
            font-size: 28px!important;
          }
  
          .desc{
            margin: -29px 0 45px 5% !important;
            width: 290px !important;
            font-size: 16px;
          }
  
          .content-features{  
            .content-pocket1{
              margin: 4px 65% 12px 0;
              width: 345px;
            }
  
            .content-pocket2{
              margin: 7px 9% 11px 0 !important; 
              width: 300px;
            }
  
            .content-pocket3{
              margin: 8px 9% 16px 0 !important;
              width: 300px;
            }
          }
  
          .btn{
            margin: 10px 0 0 5%;
          }
        }
      }
    }
  }
}